##Preparation

In [1]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# load table 1
school = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Raw Data/School_Details.csv')

# load table 2
facility = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Raw Data/School_Facility_Details.csv')

##Create SQLite Engine

In [4]:
# create engine
engine = create_engine('sqlite:///school.db', echo = True)

# create connection to engine
conn = engine.connect()

In [5]:
# add dataframe as table in SQLite
sqlite_table = "school_details"
school.to_sql(sqlite_table, conn, if_exists = 'fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists = 'fail')

2022-01-20 23:21:01,152 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2022-01-20 23:21:01,154 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-20 23:21:01,157 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_details")
2022-01-20 23:21:01,159 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-20 23:21:01,170 INFO sqlalchemy.engine.Engine
CREATE TABLE school_details (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-01-20 23:21:01,171 INFO sqlalchemy.engine.Engine [no key 0.00173s] ()
2022-01-20 23:21:01,187 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 23:21:01,189 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_details_index ON school_details ("index")
2022-01-20 23:21:01,191 INFO sqlalchemy.engine.Engine [no key 0.00219s] ()
2022-01-20 23:21:01,203 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 23:21:01,214 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 23:21:01,293 INFO sqlalchemy.engine.Engine INSERT INTO school_details ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-20 23:21:01,295 INFO sqlalchemy.engine.Engine [generated in 0.06953s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-01-20 23:21:01,324 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 23:21:01,345 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility_details")
2022-01-20 23:21:01,346 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-20 23:21:01,350 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility_details")
2022-01-20 23:21:01,352 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-20 23:21:01,356 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility_details (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2022-01-20 23:21:01,359 INFO sqlalchemy.engine.Engine [no key 0.00331s] ()
2022-01-20 23:21:01,370 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 23:21:01,371 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_details_index ON school_facility_details ("index")
2022-01-20 23:21:01,374 INFO sqlalchemy.engine.Engine [no key 0.00274s] ()
2022-01-20 23:21:01,385 INFO sqlalchemy.engine.Engine COMMIT
2022-01-20 23:21:01,392 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-20 23:21:01,426 INFO sqlalchemy.engine.Engine INSERT INTO school_facility_details ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-01-20 23:21:01,427 INFO sqlalchemy.engine.Engine [generated in 0.03002s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))
2022-01-20 23:21:01,438 INFO sqlalchemy.engine.Engine COMMIT

##Write and View SQL Queries

##1. What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [6]:
# write sql query 1
sql1 = """
SELECT AVG([BACDistance (in Km)]) AS "avg_bac_distance"
FROM school_details
"""

# read sql query to view results
df1 = pd.read_sql_query(sql1, engine)
df1.head()

2022-01-20 23:21:06,624 INFO sqlalchemy.engine.Engine
SELECT AVG([BACDistance (in Km)]) AS "avg_bac_distance"
FROM school_details

2022-01-20 23:21:06,628 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         12.681822

##2. What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [7]:
# write sql query 2
sql2 = """
SELECT AVG([BACDistance (in Km)]), SchoolLevel
FROM school_details
GROUP BY SchoolLevel
ORDER BY AVG([BACDistance (in Km)]) ASC
"""

# read sql query 2 to view results
df2 = pd.read_sql_query(sql2, engine)
df2.head()

2022-01-20 23:21:09,688 INFO sqlalchemy.engine.Engine
SELECT AVG([BACDistance (in Km)]), SchoolLevel
FROM school_details
GROUP BY SchoolLevel
ORDER BY AVG([BACDistance (in Km)]) ASC

2022-01-20 23:21:09,694 INFO sqlalchemy.engine.Engine [raw sql] ()

   AVG([BACDistance (in Km)]) SchoolLevel
0                         NaN        None
1                    5.368421         LPS
2                   10.863095         SSS
3                   12.630872          SS
4                   12.830787          PS

##3. Repeat the previous query, but only display results where the average distance is at least 10 km.

In [8]:
# write sql query 3
sql3 = """
SELECT AVG([BACDistance (in Km)]), SchoolLevel
FROM school_details
GROUP BY SchoolLevel
HAVING AVG([BACDistance (in Km)]) >= 10
ORDER BY AVG([BACDistance (in Km)]) ASC
"""

# read sql query 3 to view results
df3 = pd.read_sql_query(sql3, engine)
df3.head()

2022-01-20 23:21:12,693 INFO sqlalchemy.engine.Engine
SELECT AVG([BACDistance (in Km)]), SchoolLevel
FROM school_details
GROUP BY SchoolLevel
HAVING AVG([BACDistance (in Km)]) >= 10
ORDER BY AVG([BACDistance (in Km)]) ASC

2022-01-20 23:21:12,697 INFO sqlalchemy.engine.Engine [raw sql] ()

   AVG([BACDistance (in Km)]) SchoolLevel
0                   10.863095         SSS
1                   12.630872          SS
2                   12.830787          PS
3                   13.692647         JHS

##4. Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [34]:
# write sql query 4
sql4 = """
SELECT *
FROM school_details sd INNER JOIN school_facility_details sfd on sd.EstablishmentName = sfd.EstablishmentName
LIMIT 2
"""

# read sql query 4 to view results
df4 = pd.read_sql_query(sql4, engine)
df4

2022-01-21 00:11:01,711 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details sd INNER JOIN school_facility_details sfd on sd.EstablishmentName = sfd.EstablishmentName
LIMIT 2

2022-01-21 00:11:01,715 INFO sqlalchemy.engine.Engine [raw sql] ()

   index DistrictName  ... IsLockerForStaffAvailable IsSportsStoreRoomAvailable
0      0         East  ...             Not Available              Not Available
1      1         East  ...             Not Available                  Available

[2 rows x 43 columns]

##5. Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [26]:
# write SQL query 5
sql5 = """
SELECT sd.EstablishmentName, sd.SchoolLevel, sfd.IsLibraryAvailable
FROM school_details sd INNER JOIN school_facility_details sfd on sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = "PS" AND sfd.IsLibraryAvailable != "Available"
"""

# read sql query 5 to view results
df5 = pd.read_sql_query(sql5, engine)
df5.head()

2022-01-21 00:01:44,745 INFO sqlalchemy.engine.Engine
SELECT sd.EstablishmentName, sd.SchoolLevel, sfd.IsLibraryAvailable
FROM school_details sd INNER JOIN school_facility_details sfd on sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = "PS" AND sfd.IsLibraryAvailable != "Available"

2022-01-21 00:01:44,747 INFO sqlalchemy.engine.Engine [raw sql] ()

                        EstablishmentName SchoolLevel IsLibraryAvailable
0        EASWARAMMA SAI GURUKOOL ACCADEMY          PS      Not Available
1     NEW GARDEN BOARDING SCHOOL (SAJONG)          PS      Not Available
2     SARASWATI SHISHU VIDHYALAYA, BUDANG          PS      Not Available
3        SAWNEY GOVERNMENT PRIMARY SCHOOL          PS      Not Available
4  UPPER PACHAK GOVERNMENT PRIMARY SCHOOL          PS      Not Available

##6. Build off the previous query, but order the results alphabetically by name.

In [31]:
# write SQL query 6
sql6 = """
SELECT sd.EstablishmentName, sd.SchoolLevel, sfd.IsLibraryAvailable
FROM school_details sd INNER JOIN school_facility_details sfd on sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = "PS" AND sfd.IsLibraryAvailable != "Available"
ORDER BY sd.EstablishmentName ASC
"""

# read SQL query 6 to view results
df6 = pd.read_sql_query(sql6, engine)
df6.head()

2022-01-21 00:08:11,265 INFO sqlalchemy.engine.Engine
SELECT sd.EstablishmentName, sd.SchoolLevel, sfd.IsLibraryAvailable
FROM school_details sd INNER JOIN school_facility_details sfd on sd.EstablishmentName = sfd.EstablishmentName
WHERE sd.SchoolLevel = "PS" AND sfd.IsLibraryAvailable != "Available"
ORDER BY sd.EstablishmentName ASC

2022-01-21 00:08:11,266 INFO sqlalchemy.engine.Engine [raw sql] ()

                                   EstablishmentName  ... IsLibraryAvailable
0  (I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...  ...      Not Available
1                10TH MILE GOVERNMENT PRIMARY SCHOOL  ...      Not Available
2                  AAPGAZI GOVERNMENT PRIMARY SCHOOL  ...      Not Available
3                AARUBOTEY GOVERNMENT PRIMARY SCHOOL  ...      Not Available
4              AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL  ...      Not Available

[5 rows x 3 columns]